body{
    background-color: rgb(103, 153, 197, 0.5);    
}
#container{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}
header{
    text-align: center;
}
/*flexbox to stretch input field*/
.form-row{
    display: flex;
}
.form-row > input, .form-row > textarea{
    flex: 1;
    margin-bottom: 10px;
}
aside{
    float: left;
    position: absolute;
    width:30%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: antiquewhite; /*change to gradient color that flows into the article box*/
}
aside > h3{
    margin: 10px;
}
aside > input[type="submit"]{
    margin-bottom: 10px;
}
article{
    float: right;
    box-sizing: border-box;
    width: 80%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: green;
}
.modes-container > ol{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between; /*supposedly provides spacing between <li> boxes but doesn't work yet*/
}
.modes-container > ol > li{     
    flex: 1 0 auto;
    box-sizing: border-box;
    padding: 20px;
    flex-basis: 20%;                /*doesn't work either*/
    list-style-position: inside;
    
}
.modes-container li:nth-child(1){background-color: rgba(128, 170, 206, 0.8)}
.modes-container li:nth-child(2){background-color: rgba(206, 128, 171, 0.8)}
.modes-container li:nth-child(3){background-color: rgba(164, 128, 206, 0.8)}
.modes-container li:nth-child(4){background-color: rgba(205, 206, 128, 0.8)}
.modes-container li:nth-child(5){background-color: rgba(206, 159, 128, 0.8)}
footer{
    clear: both;
} 

/* visualization purpose */
header, article, aside, footer, #container{
    /* padding: 5px; (to make more legible) */
    border-style: solid;    
} 