body{
    background-color: rgb(103, 153, 197, 0.5);    
}
#container{
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}
header{
    text-align: center;
}
.form-row{
    display: flex;
}
.form-row > input, .form-row > textarea{
    flex: 1;
    margin-bottom: 10px;
}
aside{
    float: left;
    position: absolute;
    width:30%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: antiquewhite; 
}
aside > h3{
    margin: 10px;
}
aside > input[type="submit"]{
    margin-bottom: 10px;
}
article{
    float: right;
    box-sizing: border-box;
    width: 80%;
    padding-left: 15%;
    padding-right: 15%;
}

#main-text{
    background-color: green;
}
.modes-container{
    background-color: rgba(56, 211, 211, 0.8);
}
.modes-container > ol{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between; 
}
.modes-container > ol > li{     
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    flex-basis: 15%;                /*works now.  items times flex-basis width need to be less than 100% to show margin*/
    list-style-position: inside;
    
}
.modes-container li:nth-child(1){background-color: rgba(128, 170, 206, 0.8)}
.modes-container li:nth-child(2){background-color: rgba(206, 128, 171, 0.8)}
.modes-container li:nth-child(3){background-color: rgba(164, 128, 206, 0.8)}
.modes-container li:nth-child(4){background-color: rgba(205, 206, 128, 0.8)}
.modes-container li:nth-child(5){background-color: rgba(206, 159, 128, 0.8)}
footer{
    clear: both;
} 

/* visualization purpose */
header, article, aside, footer, #container{
    border-style: solid;    
} 